.benefits {
  margin: 6rem 0;
}

.benefits h3 {
  font-family: 'League Spartan', sans-serif;
  text-transform: uppercase;
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: -2px;
  margin-bottom: 3rem;
}

.benefits h3 span {
  color: var(--color-red);
}

@media (min-width: 768px) {
  .benefits h3 {
    font-size: 2rem;
  }
}
