.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.benefits h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 95%;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.image-container {
  height: 20rem;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.benefit-card img {
  height: 100%;
  /* width: 80%; */
  object-fit: cover;
  aspect-ratio: 3 / 4;
}

.benefit-card h4 {
  font-size: 2.7rem;
  line-height: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'League Spartan', sans-serif;
  letter-spacing: -3px;
  margin-right: 0.5rem;
}

.benefit-card p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefit-card:nth-child(1) h4:nth-child(4) {
  color: red;
}

.benefit-card:nth-child(2) h4:nth-child(5) {
  color: red;
}

.benefit-card:nth-child(3) h4:nth-child(3) {
  color: red;
}

@media (min-width: 768px) {
  .benefits-list {
    gap: 8rem;
  }
  .benefit-card {
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }

  .benefit-card .information {
    text-align: start;
  }

  .benefit-card .title {
    justify-content: flex-start;
  }

  .benefit-card .title h4 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .image-container {
    height: 42vw;
    max-height: 28rem;
    flex: 2;
  }

  .benefit-card img {
    /* width: 32vw; */
  }
  .information {
    flex: 3;
  }

  .benefit-card:nth-child(odd) div:last-child {
    order: -1;
  }
}

@media (min-width: 1024px) {
  .benefit-card {
    width: 80%;
    gap: 5rem;
  }
}
